<!-- start custom head snippets -->
<link rel="stylesheet" type="text/css" href="/assets/css/cookieconsent.min.css" />
<script src="/assets/js/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "content": {
    "href": "https://www.tksitalia.it/privacy"
  }
})});
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
